name: Build Archive (Jar)

on:
  push:
    branches:
      - master
  release:
    types: [ created ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-curved-spacetime-archive:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build
        run: ./gradlew build
      - run: git archive --format=tar.gz -o ./archive-quilt/source.tar.gz HEAD
      - run: git archive --format=tar.gz -o ./archive-closed-jar/source.tar.gz HEAD
      - name: Upload (Quilt Variant)
        uses: actions/upload-artifact@v5
        with:
          name: curved-spacetime-quilt-variant-0.1.0-SNAPSHOT
          path: archive-quilt/**
      - name: Upload (Closed Jar Variant)
        uses: actions/upload-artifact@v5
        with:
          name: curved-spacetime-closed-jar-variant-0.1.0-SNAPSHOT
          path: archive-closed-jar/**