name: Build

on: push

jobs:
  build-curved-spacetime:
    name: Build curved-spacetime
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Compile
        run: ./gradlew build
  build-curved-spacetime-linux-x64:
    name: Build curved-spacetime Linux x64
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Compile
        run: ./gradlew nativeCompile
  build-curved-spacetime-linux-arm64:
    name: Build curved-spacetime Linux arm64
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v6
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Compile
        run: ./gradlew nativeCompile
  build-curved-spacetime-windows-x64:
    name: Build curved-spacetime Windows x64
    runs-on: windows-2025

    steps:
      - uses: actions/checkout@v6
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Compile
        run: ./gradlew nativeCompile
  build-curved-spacetime-macos-arm64:
    name: Build curved-spacetime macOS arm64
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v6
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Compile
        run: ./gradlew nativeCompile