name: Build Installer Native

on:
  push:
    branches:
      - master
  release:
    types: [ created ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-curved-spacetime-closed:
    name: Build curved-spacetime (Closed Native Variant) ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, windows-2025, macos-15-intel, macos-26]

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Compile
        run: ./gradlew :curved-spacetime-closed-loader-module:nativeCompile
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: curved-spacetime-closed-native-variant-0.1.0-SNAPSHOT-${{ matrix.os }}
          path: installer-closed-native/**