# modified from https://theawesomegarage.com/blog/automating-relases-with-github-actions

name: Create Debug Release
on:
  push:
    branches:
      - master

jobs:
  create-debug-release:
    runs-on: ubuntu-24.04

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ vars.VERSION }}+build.${{ vars.GITHUB_RUN_NUMBER }}.${{ vars.GITHUB_RUN_ATTEMPT }}
          name: "Debug Release ${{ vars.VERSION }}+build.${{ vars.GITHUB_RUN_NUMBER }}.${{ vars.GITHUB_RUN_ATTEMPT }}"
          generate_release_notes: true
          draft: false
          prerelease: true
          token: ${{ secrets.CURVED_SPACETIME_DEBUG_RELEASE_PAT }}