name: Dependency Submission

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5