name: Publish Archive (Jar)

on:
  release:
    types: [ published ]

jobs:
  publish-curved-spacetime-archive:
    runs-on: ubuntu-24.04

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build
        run: ./gradlew build
      - run: git archive --format=tar.gz -o ./archive-quilt/source.tar.gz HEAD
      - run: git archive --format=tar.gz -o ./archive-closed-jar/source.tar.gz HEAD
      - run: zip -r ../curved-spacetime-quilt-variant-${{ vars.VERSION }}-${{ github.sha }}.zip .
        working-directory: archive-quilt
      - run: zip -r ../curved-spacetime-closed-jar-variant-${{ vars.VERSION }}-${{ github.sha }}.zip .
        working-directory: archive-closed-jar
      - name: Publish
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files:
            ./curved-spacetime-quilt-variant-${{ vars.VERSION }}-${{ github.sha }}.zip
            ./curved-spacetime-closed-jar-variant-${{ vars.VERSION }}-${{ github.sha }}.zip