name: Publish (Closed-World Jar Variant)

on:
  push:
    branches:
      - master

jobs:
  publish-curved-spacetime:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build
        run: ./gradlew :curved-spacetime-closed-world-loader-module:jar
      # The USERNAME and TOKEN need to correspond to the credentials environment variables used in
      # the publishing section of your build.gradle.kts
      - name: Publish to GitHub Packages
        run: ./gradlew :curved-spacetime-closed-world-loader-module:publish
        env:
          USERNAME: ${{ github.actor }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}